* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

/*nawigacja*/
nav {
    max-width: 1440px;
    margin: 30px auto;
    text-align: right;
}

nav a {
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 20px;
}

nav a:hover {
    border-bottom: 2px solid #555;
    color: black;
}

nav .reservation {
    padding: 10px 30px;
    font-size: 2.2rem;
    border: 2px solid #555;
    letter-spacing: 1px;
    margin-right: 50px;
    margin-left: 80px;
    transition: 0.2s;
}

nav .reservation:hover {
    background-color: royalblue;
    color: #eee;
    border-color: royalblue;
}

/*header*/
header {
    height: 40vh;
    background-image: url(img/banner.jpg);
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/*main*/
main {
    font-size: 0;
    max-width: 1440px;
    margin: 5vh auto;
}

main .description {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 30px 50px 30px;
    line-height: 180%;

}

main .feature {
    display: inline-block;
    width: 33.33%;
    padding-bottom: 30px;
}

.image1,
.image2,
.image3 {
    height: 200px;
    margin: 20px 30px;
}

.image1 {
    background-image: url(img/pic1.jpg);
    background-size: cover;
}

.image2 {
    background-image: url(img/pic2.jpg);
    background-size: cover;
}

.image3 {
    background-image: url(img/pic3.jpg);
    background-size: cover;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #222;
}

/*footer*/
footer {
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;

}